AGENT_URL=http://localhost:3000
AGENT_API_KEY=replace-with-agent-api-keyhow
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX
NEXT_PUBLIC_PRIVY_APP_ID=replace-with-privy-app-id
PRIVY_APP_ID=replace-with-privy-app-id
PRIVY_APP_SECRET=replace-with-privy-app-secret
NEXT_PUBLIC_STRATEGY_VAULT_CHAIN_ID=421614
NEXT_PUBLIC_STRATEGY_VAULT_ASSET=0x75faf114eafb1BDbe2F0316DF893fd58CE46AA4d
NEXT_PUBLIC_STRATEGY_VAULT_FACTORY_ADDRESS=0xDc5c257107C1C3533C7a097a94DfeF19dcC9e599
